 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am currently a Solution Engineer with Shopify in Ottawa. My previous stint was at LinkedIn, where I consulted with start-ups on
                      their social media strategy for branding and talent acquisition.<br> I then took a left turn into programming and never been more impatient to learn. <br> Currently I am a full stack web developer (my
                      personal mission is to use technology to build things that change the world!), a recent immigrant to Canada, and a coding bootcamp graduate from <a style="color:white" href="https://www.lighthouselabs.ca/">Lighthouse-Labs.</a> <br></p>
                </div>
                <div class="col-lg-4">
                    <p>I am passionate about crafting great user experience while developing clean, modular code. <br> I love vibrant colors, people, the internet, yoga, <a style="color:white" href="https://stackoverflow.com/">Stack Overflow,</a> and turning ideas into reality.<br> Need help with an upcoming project or application? Have a look through some of my projects. <br> If you need a site or want to give an outdated one a facelift I am available to take on new projects.<br> Thanks for stopping by! :) </p>
                </div>
              
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://resume.creddle.io/resume/c6noi82s42d" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
